@media all and (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }

    .secao {
        padding: 5rem 1rem;
    }

    .botao:link,
    .botao:visited {
        font-size: 1.5rem;
    }

    .hero {
        padding: 0rem 2rem;

        & .hero-secao-container {
            & .hero-secao {
                gap: 1.5rem;

                & .hero-secao-texto {
                    text-align: center;

                    & .texto-topo {
                        font-size: 1.5rem;
                        margin-bottom: 0rem;
                    }
                }
            }

            & .botao:link,
            .botao:visited {
                font-size: 1.7rem;
            }

            .iframe {
                & iframe {
                    width: 30rem !important;
                }
            }
        }
    }

    .secao-cursos-gratuitos {
        & .secao-cursos-gratuitos-container {
            & .secao-cursos-gratuitos-cursos {
                & .secao-cursos-gratuitos-titulo {
                    text-align: center;
                }
                & .secao-cursos-gratuitos-lista {
                    flex-flow: column;
                }
            }

            & .secao-cursos-gratuitos-imagem {
                top: 2rem;
                left: 0rem;
                & .img-computer {
                    aspect-ratio: 16 / 9;
                    width: 27.1rem;
                    height: auto;
                }
            }
        }
    }

    .sessao-diferenciais-inicial {
        p {
            font-size: 1.2rem;
        }

        & .sessao-diferenciais {
            & .sessao-diferenciais-titulo {
                padding: 2rem;
                padding-bottom: 7rem;

                & h2 {
                    padding: 2rem 0rem;
                }

                & p {
                    font-size: 1.5rem;
                }
            }

            & .sessao-diferenciais-resto {
                & .sessao-diferenciais-resto-container {
                    bottom: 5rem;

                    & .sessao-diferenciais-opcoes {
                        width: 105%;
                    }
                }

                & .diferenciais-empresas-session {
                    & .diferenciais-empresas {
                        font-size: 1.6rem;
                    }

                    & .diferenciais-empresas-session-img {
                        gap: 1rem;

                        & img {
                            width: 5rem;
                            filter: grayscale(100%);
                        }
                    }
                }
            }
        }
    }

    .sessao-oque-falam {
        & .oque-falam {
            & .o-que-falam-titulo {
                flex-direction: column;
            }

            & .oque-falam-carrossel {
                & .oque-falam-img-carrossel {
                    &.img-2 {
                        display: none;
                    }
                }
            }

            & .btn-carrossel {
                align-self: center;
            }
        }
    }

    .sessao-na-midia {
        & .sessao-na-midia-container {
            & .sessao-na-midia-div {
                h2 {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .sessao-ultimos-posts {
        & .sessao-ultimos-posts-div {
            max-width: 95vw;
            padding: 4rem 1rem;

            & .sessao-ultimos-posts-titulo {
                width: 80vw;
                text-align: center;
            }
        }
    }

    .sessao-ajuda {
        & .hashtag-ajuda-container {
            padding: 3.5rem 2rem;
        }

        & .hashtag-ajuda-inicio {
            & .hashtag-ajuda-div {
                & h2 {
                    white-space: wrap;
                    text-align: center;
                }
            }
        }
    }

    .footer {
        & .footer-container {
            grid-template-columns: 1fr;
            gap: 2rem;
            grid-template-areas:
                "a"
                "b"
                "c";
            align-content: center;
            justify-content: center;

            & .caixa-texto-rodape {
                width: 100%;
                height: 1.8rem;
                align-items: center;
                justify-content: center;
                & a {
                    display: flex;
                    width: 2rem;
                    height: 2rem;
                }
            }

            & .footer-session {
                &.footer-img + div {
                    text-align: center;

                    & address {
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            & .newsletter-session {
                justify-self: center;
            }
        }
    }
}
