@media all and (max-width: 1070px) {
    header {
        & li {
            & a {
                &:link,
                &:visited {
                    font-size: 1.2rem !important;
                }
            }
        }
    }

    .container {
        max-width: 70rem;
    }

    .secao-cursos-gratuitos {
        & .secao-cursos-gratuitos-container {
            & .secao-cursos-gratuitos-imagem {
                & .img-computer {
                    aspect-ratio: 16 / 9;
                    width: 33.1rem;
                    height: auto;
                }
            }

            & .secao-cursos-gratuitos-cursos {
                & .secao-cursos-gratuitos-lista {
                    & .lista-cursos-redes-sociais {
                        & .redes-sociais-cursos {
                            & a {
                                &:link,
                                &:visited {
                                    width: 19rem;
                                    font-size: 1.5rem;
                                }
                            }
                        }
                        & .lista-link-cursos {
                            & div {
                                width: 3rem;
                                height: 3rem;
                            }
                        }
                    }
                }
            }
        }
    }

    h1 {
        letter-spacing: 0rem;
    }
}
